.hero{
    padding: 40px 128px;
    max-width: 766px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-caption{
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #BB5302;
    padding: 18px 24px;
    border-radius: 16px;
    max-width: 355px;
}
.hero-heading{
    font-size: 64px;
    font-weight: 700;
    line-height: 5rem;
}
.hero-heading span{
    color: rgba(153,46,157,1);
}
.btn-group-1,.btn-group-2{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.btn-group-1 button{
    display: flex;
    gap: 6px;
    align-items: center;
    border: none;
    height: 48px;
    width: 222px;
    border-radius: 100px;
    padding: 12px 16px 12px 12px;
    background-color: #FFF4C5;
    color: #BB5302;
    font-weight: 500;
    line-height: 24px;
}
.btn-group-2{
    gap: 20px;
    align-items: center;
}
.btn-group-2 .primary{
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #992E9D;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 24px 48px;
    font-weight: 800;
    cursor: pointer;
}
.btn-group-2 .secondary{
    border: none;
    display: flex;
    gap: 6px;
    align-items: center;
    color: #992E9D;
    font-weight: 800;
    cursor: pointer;
}

@media screen and (max-width: 745px) {
    .hero{
        padding: 24px;
    }
    .hero-heading{
        font-size: 36px;
        line-height: 3rem;
    }
    .btn-group-2{
        flex-direction: column;
    }
    .btn-group-2 .primary, .btn-group-2 .secondary{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
  }